@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --gray: #222222;
  --red: #fc200c;
  --green: #39b24a;
  --lightWhite: #f3f3f3;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--lightWhite);
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--gray);
  color: var(--white);
  padding: 0.5rem 1.25rem;
  /*Añadimos flex*/
  display: flex;
  align-items: center;
}

header nav ul {
  /*Añadimos flex*/
  display: flex;
  position: absolute;
  gap: 1rem;
  right: 3rem;
}

header .header__logo {
  /*Añadimos flex*/
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .header__logo span,
footer .footer__logo span {
  color: var(--green);
}

header .header__logo span:nth-child(2),
footer .footer__logo span:nth-child(2) {
  color: var(--red);
}
main {
  padding: 35px 0px;
  /* Alto del main: alto viewport - alto Header - alto Footer 
       Me aseguro que el main ocupa todo el alto disponible */
  min-height: calc(100vh - 100px - 150px);
}

main .container {
  /*Añadimos flex*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

main section .card {
  border-radius: 5px;
  height: 21.875rem; /* 350px/16px (16px=1rem) */
  width: 30.625rem; /* 490px/16px (16px=1rem) */
}

main section .delivery {
  background: url("../img/delivery.jpg");
  color: var(--red);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

main section .delivery span {
  color: var(--lightWhite);
}

main section .podio {
  background: #fff;
  font-weight: bold;
  /*Añadimos flex*/
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

main section .podio h3 {
  color: var(--red);
  font-size: 24px;
  text-align: center;
  padding: 26px;
  width: 100%;
}
.podio .top5 .podio__pizzas h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.top5 {
  /*Añadimos flex*/
  display: flex;
}

.top5 .podio__pizzas ol li {
  padding: 10px 0px;
}

.top5 .podio__img {
  padding-bottom: 60px;
  /*Añadimos flex*/
  display: flex;
}

footer {
  width: 100vw;
  background: #222;
  height: 9.5rem;
  padding: 19px 20px;
  /*Añadimos flex*/
  display: flex;
  align-items: center;
}

footer .footer__logo {
  color: var(--lightWhite);
  font-size: 14px;
  /*Añadimos flex*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  right: 3rem;
}

footer ul {
  color: var(--lightWhite);
  /*Añadimos flex*/
  display: inline-block;
  position: absolute;
  gap: 1rem;
  left: 3rem;
  line-height: 1.8rem;
}

@media screen and (max-width: 768px) {
  /* - Ocultar los botone de nav (del header)
      - Añadir el ícono hamburguesa */
  nav {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  footer .footer__logo {
    color: var(--lightWhite);
    font-size: 12px;
    /*Añadimos flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    right: 2.5rem;
  }
  .pizza {
    width: 5rem;
  }

  footer ul {
    color: var(--lightWhite);
    /*Añadimos flex*/
    display: inline-block;
    position: absolute;
    gap: 1rem;
    left: 2.5rem;
    line-height: 1.8rem;
  }
}
